services:
  postgres:
    image: postgres:16-alpine
    container_name: local-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      - localnet
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: local-minio
    restart: unless-stopped
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # Painel/Admin
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    command: server /data --console-address ":9001"
    networks:
      - localnet
    volumes:
      - minio-data:/data

networks:
  localnet:
    driver: bridge

volumes:
  pgdata:
  minio-data:
